.bestChoiceParent {
    background-image: url("../assets/blue-map.png");
    width: 100%;
    height: auto;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px 0px 100px 0px;
    margin-bottom: -1px;
  }
  
  .bestChoice {
    width: 1440px;
    margin: auto;
    text-align: center;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
  }
  
  .bestChoiceHeading h2 {
    color: #d2ae6d;
    font-size: 50px;
    width: 65%;
    text-align: right;
  }
  
  .bestChoiceHeading {
    position: absolute;
    top: 50px;
    left: 0px;
  }
  
  .plane {
    position: relative;
    z-index: 3;
    top: 150px;
    left: 5px;
    transition: 0.1s top ease;
  }