.faqSection {
    width: 100%;
    background-image: url("../assets/faqimage1.png");
    background-repeat: no-repeat;
    background-position: calc(110% + 1%) calc(100% - 50%);
    background-size: 40%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px 0px;
  }
  
  .faqParentSection {
    width: 1440px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .faqQuestionSection {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 30px;
    width: 60%;
  }
  
  .faqAnswersSection {
    width: 38%;
    margin-top: -30px;
    font-size: 20px;
  }
  
  .questionMarkSection {
    width: 150px;
    height: 150px;
    background-image: url("../assets/blue-polygon.webp");
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    color: white;
    font-weight: 800;
    font-size: 100px;
  }
  
  .faqQuestionsParentSection {
    width: 75%;
  }
  
  .questions {
    border-right: 1px solid #132f46;
    padding: 10px 30px 10px 0px;
  }
  
  .faqQuestionsParentSection h1 {
    color: #132f46;
    font-size: 50px;
    font-weight: 800;
  }
  
  .questionSection {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 20px;
    cursor: pointer;
  }
  
  .questionSection svg {
    display: none;
  }
  
  .questionSection:nth-child(1) {
    margin-top: 30px;
  }
  
  .questionSection p {
    width: 90%;
    color: #132f46;
    transition: 0.1s all ease-in-out;
    font-size: 20px;
  }
  
  .questionSection.active p {
    font-weight: 800;
  }
  
  .questionSection.active svg {
    display: block;
  }