.bannerParent {
  background-image: url("../assets/contactMap.png");
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 0px;
  padding-top: 200px;
}

/* .bannerHeading{
  font-family: 'AvenirNextLTPro', sans-serif;
} */

.bannerMain {
  width: 1440px;
  margin: auto;
  text-align: center;
  align-items: center;
}

.bannerHeading h1 {
  font-size: 55px;
  padding-top: 10px;
  color: #727376;
  font-weight: 400;
}

.bannerHeading h2 {
  font-size: 18px;
  padding-top: 30px;
  font-weight: 500;
  color: #132f46;
}

.bannerBlueHeading {
  color: #1d629a;
}

.cardContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* padding: 20px; */
  background-color: #fefefe;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  /* width: 120px;
  height: 120px; */
  border-radius: 8px;
  background-color: #ffffff;
  /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); */
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.card:hover {
  background-color: #132f46;
  color: white;
}

.icon {
  width: 40px;
  height: 40px;
  margin-bottom: 10px;
  object-fit: contain;
}

.title {
  font-size: 11px;
  font-weight: bold;
  text-align: center;
  color: #132f46;
}

.bookButton17 {
  font-family: "AvenirNextLTPro", sans-serif;
  margin-top: 40px;
  align-items: center;
  appearance: none;
  background-color: #fff;
  border-radius: 28px;
  border-style: none;
  border: 2px solid #00273f;
  box-sizing: border-box;
  color: #3c4043;
  cursor: pointer;
  display: inline-flex;
  fill: currentcolor;
  font-size: 16px;
  font-weight: 500;
  justify-content: center;
  letter-spacing: 0.25px;
  line-height: normal;
  max-width: 100%;
  overflow: visible;
  padding: 18px 66px;
  position: relative;
  text-align: center;
  text-transform: none;
  transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 15ms linear 30ms, transform 270ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
  will-change: transform, opacity;
  z-index: 0;
}

.bookButton17:hover {
  background: #f6f9fe;
  color: #174ea6;
}

.bookButton17:active {
  box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%),
    0 8px 12px 6px rgb(60 64 67 / 15%);
  outline: none;
}

.bookButton17:focus {
  outline: none;
  border: 2px solid #4285f4;
}

/* .bannerParent2{
  background-image: url("../assets/homePageBanner.jpg");
  width: 100%;
  height:1100px;
  height: auto;
  background-repeat: no-repeat;
  background-size: cover;
} */

.bannerParent2 {
  position: relative;
}

.bannerParent2 img {
  width: 100%;
  height: auto;
}

.bannerParent2ButtonDiv {
  position: absolute;
  width: 1440px;
  margin: auto;
  align-items: center;
  bottom: 90px;
  left: 150px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 30px;
}

.bannerParent2 button {
  color: white;
  font-size: 20px;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid white;
  padding: 10px 40px;
  border-radius: 5px;
}

.bannerParent2HaveQuestions {
  width: 1440px;
  margin: auto;
}

.bannerParent2HaveQuestions button {
  /* width: 100%; */
  font-size: 25px;
}

.bannerParent2ButtonDiv button img {
  width: 135px;
}

.bannerParent2HaveQuestions p {
  color: white;
  font-size: 10px;
}

.bannerParent2HaveQuestions h5 {
  text-align: left;
  color: white;
  font-weight: 400;
  margin-bottom: 10px;
}

.memberParent {
  background-color: #132f46;
  padding: 100px 0px;
  margin-top: -5px;
}

.memberMain {
  width: 1440px;
  margin: auto;
  color: white;
}

.memberCardParent {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
}

.memberCard {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.memberCard p {
  padding-bottom: 40px;
  font-size: 22px;
}

.memberCardImg {
  height: 180px;
  width: 350px;
  background-color: white;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.memberCardImg img {
  width: 300px;
}

.simplifyingParent {
  background-image: url("../assets/aboutLeaf.png");
  width: 100%;
  padding: 100px 0px;
}

.simplifyingMain {
  width: 1440px;
  margin: auto;
  align-items: center;
  text-align: center;
}

.simplifyingDiv {
  border-radius: 25px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  border: 2px dotted #132f46;
  padding: 60px 0px;
  text-align: left;
  margin-top: 50px;
  gap: 60px;
}

.simplifyingImg {
  display: flex;
  align-items: flex-start;
}

.simplifyingImg img {
  width: 100px;
}

.simplifyingContent {
  width: 70%;
}

.simplifyingContent h1 {
  color: #132f46;
  font-weight: 500;
}

.simplifyingContent p {
  padding-top: 30px;
  font-size: 25px;
  line-height: 35px;
  color: #132f46;
}

.fourCardParent {
  width: 100%;
  padding: 100px 0px;
}

.fourCard {
  width: 1440px;
  margin: auto;
  text-align: center;
}

.fourCardHeading {
  color: #132f46;
  text-align: center;
}

.fourCardHeading h1 {
  font-size: 70px;
}

.fourCardHeading p {
  margin-top: 20px;
  font-size: 24px;
  letter-spacing: 1px;
}

.fourCardImgParent {
  background-image: url("../assets/Asset.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top left;
  margin: 170px 0px 100px 0px;
}

.fourCardMain {
  width: 330px;
  border-radius: 0px 0px 50px 50px;
  padding: 0px 10px 40px 10px;
  background-color: white;
}

.pointerImageSection {
  position: relative;
  top: -100px;
  margin-bottom: -50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.fourCardImg img {
  width: 220px;
}

.pointerImageSection p {
  position: absolute;
  z-index: 2;
  top: 36px;
  font-size: 120px;
  font-weight: 1000;
}

.fourCardImg {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

.fourCardMain h3 {
  margin-bottom: 25px;
  font-size: 28px;
  text-align: left;
  margin-left: 25px;
  font-weight: 600;
  color: #132f46;
}

.fourCardMain ul {
  width: 250px;
  margin: auto;
  text-align: left;
}

.fourCardMain ul li {
  margin-bottom: 20px;
}

.goldenCard {
  box-shadow: rgb(248, 240, 224, 0.5) 0px 2px 1px,
    rgba(248, 240, 224, 0.5) 0px 4px 2px, rgba(248, 240, 224, 0.5) 0px 8px 4px,
    rgba(248, 240, 224, 0.5) 0px 16px 8px,
    rgba(248, 240, 224, 0.5) 0px 32px 16px;
}

.goldenCard p {
  color: #e0b969;
}

.blueCard {
  box-shadow: rgb(207, 212, 217, 0.5) 0px 2px 1px,
    rgba(207, 212, 217, 0.5) 0px 4px 2px, rgba(207, 212, 217, 0.5) 0px 8px 4px,
    rgba(207, 212, 217, 0.5) 0px 16px 8px,
    rgba(207, 212, 217, 0.5) 0px 32px 16px;
}

.blueCard p {
  color: #184d79;
}

.runwayParent {
  width: 1440px;
  margin: auto;
}

.runwayParent img:nth-child(1) {
  width: 100%;
}

.plane {
  width: 150px;
  background-size: cover;
}

.expertiseParent {
  background-image: url("../assets/pillars-bg.png");
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 0px;
}

.expertiseContentParent {
  width: 1440px;
  margin: auto;
  align-items: center;
  text-align: center;
}

.expertiseContentHeading h1 {
  font-size: 60px;
  color: #e0b969;
  padding-bottom: 50px;
}

.expertiseContentHeading p {
  font-size: 26px;
  color: #ffffff;
  line-height: 40px;
  padding-bottom: 30px;
  font-weight: 300;
}

.expertiseContentHeading button {
  cursor: pointer;
}

.knowButton {
  color: white;
  cursor: pointer;
  border: 2px solid white;
  padding: 20px 45px;
  background-color: transparent;
  font-size: 18px;
  border-radius: 30px;
  margin-top: 20px;
  cursor: pointer;
}

.knowButton a {
  text-decoration: none;
  color: white;
}

.aspectsParent {
  background-image: url("../assets/contactMap.png");
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 0px;
}

.aspectsMain {
  width: 1440px;
  margin: auto;
  text-align: center;
  align-items: center;
}

.aspectsHeading h1 {
  color: #132f46;
  font-size: 65px;
}

.aspectsHeading h2 {
  color: #132f46;
  font-size: 35px;
  font-weight: 400;
  padding-top: 50px;
  padding-bottom: 50px;
}

.aspectsCardParent {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-around;
}

.aspectsCard {
  color: white;
  background-color: #033b5d;
  padding: 60px 30px;
  height: 360px;
  width: 288px;
  border-radius: 20px;
}

.aspectsCard img {
  height: 100px;
  width: 100px;
}

.aspectsCard h1 {
  font-size: 50px;
  padding-top: 20px;
}

.aspectsCard p {
  font-size: 30px;
  font-weight: 300;
  padding-top: 15px;
  padding-top: 10px;
}

/* // */

.sourceParent {
  background-image: url("../assets//blue-background.png");
  width: 100%;
  height: auto;
  margin: auto;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 0px;
}

.sourceMain {
  width: 1440px;
  margin: auto;
  align-items: center;
}

.sourceHeadingParent {
  display: flex;
  justify-content: space-between;
}

.sourceHeadingParent img {
  width: 330px;
}

.sourceHeadingParent h1 {
  color: white;
  font-size: 65px;
}

.sourceHeadingParent p {
  color: white;
  font-size: 22px;
  padding-top: 13px;
  font-weight: 300;
  letter-spacing: 1.5px;
}

.sourceContent {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  margin-top: 80px;
}

.sourceContentDate {
  width: 10%;
}

.sourceContentData {
  color: white;
  width: 75%;
}

.sourceContentData button {
  cursor: pointer;
}

.sourceContentData h3 {
  font-size: 26px;
}

.sourceContentData p {
  font-size: 18px;
  line-height: 35px;
  margin-top: 30px;
}

.sourceContentDate p {
  color: white;
  padding-bottom: 20px;
  font-weight: 600;
}

.sourceContentDate h2 {
  color: #e0b969;
  font-size: 33px;
}

.sourceContentDate h1 {
  color: #e0b969;
  padding-bottom: 20px;
  font-size: 100px;
}

.sourceContentData button {
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 30px;
  padding: 15px 40px;
  font-size: 16px;
  color: white;
}

/* Example CSS */
.cardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 50px;
  margin-bottom: 20px;
}

.card {
  position: relative;
  width: 190px;
  height: 150px;
  margin: 5px;
  padding: 5px;
  background-color: transparent;
  border-radius: 2px;
  overflow: hidden;
  text-align: center;
  transition: transform 0.3s ease, background-color 0.3s ease;
  border-right: 1px solid #00273f;
}

.card:last-child {
  border-right: none;
}

.card img {
  width: 40%;
  height: auto;
  transition: opacity 0.3s ease;
}

.card .title h2 {
  color: #132f46;
  transition: color 0.3s ease;
}

.card:hover {
  transform: scale(1.1);
  background-color: #132f46;
}

.card:hover img {
  /* opacity: 0.1; */
  filter: invert(1);
}

.card:hover .title h2 {
  color: #fff;
  z-index: 1;
  position: relative;
}

/* // */

.testimonialsVideoSection {
  margin: 100px 0px;
}

.testimonialsVideoSection img {
  width: 475px;
  height: 575px;
  background-color: white;
}

.testimonialsVideoSection p {
  text-align: center;
  color: white;
  font-size: 25px;
  width: 80%;
  margin: auto;
  margin-top: 20px;
  font-weight: 200;
}

@media all and (max-width: 1450px) {
  .bannerMain {
    width: 1400px;
    margin: auto;
    align-items: center;
  }

  .cardContainer {
    width: 1260px;
    /* justify-content: space-evenly; */
    align-items: center;
    margin: auto;
    margin-top: 40px;
  }

  .card {
    width: 160px;
    margin: auto;
  }
}

@media all and (max-width: 1400px) {
  .card {
    width: 320px;
    margin: auto;
    height: auto;
    border: none;
    padding: 50px 20px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: white;
  }

  .bannerMain {
    width: 1300px;
    margin: auto;
    align-items: center;
  }

  .cardContainer {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    row-gap: 20px;
    box-shadow: none;
    flex-wrap: wrap;
    background-color: transparent;
  }
}


@media all and (max-width: 1300px) {
  .card {
    width: 320px;
    padding: 50px 20px;

  }

  .bannerMain {
    width: 1300px;
  }

  .cardContainer {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    row-gap: 20px;
    box-shadow: none;
    flex-wrap: wrap;
    background-color: transparent;
  }
}
