.bannerParent {
  background-image: url("../assets/contactMap.png");
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 0px;
  padding-top: 200px;
}

/* .bannerHeading{
  font-family: 'AvenirNextLTPro', sans-serif;
} */

.bannerMain {
  width: 1440px;
  margin: auto;
  text-align: center;
  align-items: center;
}

.bannerHeading h1 {
  font-size: 55px;
  padding-top: 10px;
  color: #727376;
  font-weight: 400;
}

.bannerHeading h2 {
  font-size: 18px;
  padding-top: 30px;
  font-weight: 500;
  color: #132f46;
}

.bannerBlueHeading {
  color: #1d629a;
}

.cardContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* padding: 20px; */
  background-color: #fefefe;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.expertiseDiv {
  width: 300px;
  padding: 80px 20px;
  border-radius: 10px;
  border: none;
  background-color: white;
}

.expertiseDiv p {
  color: #132f46 !important;
  width: 100% !important;
  font-size: 17px !important;
  margin-bottom: 20px !important;
  line-height: 1.5;
}

.expertiseDiv a {
  padding: 10px 15px;
  font-size: 14px;
  border: 1px solid #132f46;
  border-radius: 10px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  /* width: 120px;
  height: 120px; */
  border-radius: 8px;
  background-color: #ffffff;
  /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); */
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.card:hover {
  background-color: #132f46;
  color: white;
}

/* .icon {
  width: 40px;
  height: 40px;
  margin-bottom: 10px;
  object-fit: contain;
} */

.card img {
  width: 40px;
  height: 40px;
  object-fit: cover;
}

.title {
  font-size: 11px;
  font-weight: bold;
  text-align: center;
  color: #132f46;
}

.bookButton17 {
  font-family: "AvenirNextLTPro", sans-serif;
  margin-top: 40px;
  align-items: center;
  appearance: none;
  background-color: #fff;
  border-radius: 28px;
  border-style: none;
  border: 2px solid #00273f;
  box-sizing: border-box;
  color: #3c4043;
  cursor: pointer;
  display: inline-flex;
  fill: currentcolor;
  font-size: 16px;
  font-weight: 500;
  justify-content: center;
  letter-spacing: 0.25px;
  line-height: normal;
  max-width: 100%;
  overflow: visible;
  padding: 18px 66px;
  position: relative;
  text-align: center;
  text-transform: none;
  transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 15ms linear 30ms, transform 270ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
  will-change: transform, opacity;
  z-index: 0;
}

.bookButton17:hover {
  background: #f6f9fe;
  color: #174ea6;
}

.bookButton17:active {
  box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%),
    0 8px 12px 6px rgb(60 64 67 / 15%);
  outline: none;
}

.bookButton17:focus {
  outline: none;
  border: 2px solid #4285f4;
}

/* .bannerParent2{
  background-image: url("../assets/homePageBanner.jpg");
  width: 100%;
  height:1100px;
  height: auto;
  background-repeat: no-repeat;
  background-size: cover;
} */

.bannerParent2 {
  position: relative;
}

.bannerParent2 img {
  width: 100%;
  height: auto;
}

.bannerParent2ButtonDiv {
  position: absolute;
  width: 1440px;
  margin: auto;
  align-items: center;
  bottom: 90px;
  left: 150px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 30px;
}

.bannerParent2 button {
  color: white;
  font-size: 20px;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid white;
  padding: 10px 40px;
  border-radius: 5px;
}

.bannerParent2HaveQuestions {
  width: 1440px;
  margin: auto;
}

.bannerParent2HaveQuestions button {
  /* width: 100%; */
  font-size: 25px;
}

.bannerParent2ButtonDiv button img {
  width: 135px;
}

.bannerParent2HaveQuestions p {
  color: white;
  font-size: 10px;
}

.bannerParent2HaveQuestions h5 {
  text-align: left;
  color: white;
  font-weight: 400;
  margin-bottom: 10px;
}

.memberParent {
  background-color: #132f46;
  /* padding: 100px 0px; */
  padding-top: 50px;
  padding-bottom: 50px;
  margin-top: -5px;
}

.memberMain {
  width: 1420px;
  margin: auto;
  color: white;
}

.memberCardParent {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
}

.memberCard {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.memberCard p {
  padding-bottom: 40px;
  font-size: 22px;
}

.memberCardImg {
  height: 180px;
  width: 350px;
  background-color: white;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.memberCardImg img {
  width: 300px;
}

.simplifyingParent {
  background-image: url("../assets/aboutLeaf.png");
  width: 100%;
  padding: 80px 0px;
}

.simplifyingMain {
  width: 1340px;
  margin: auto;
  align-items: center;
  text-align: center;
}

.simplifyingDiv {
  border-radius: 25px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  border: 2px dotted #132f46;
  padding: 60px 0px;
  text-align: left;
  margin-top: 50px;
  gap: 60px;
  justify-content: space-evenly;
}

.simplifyingImg {
  display: flex;
  align-items: flex-start;
}

.simplifyingImg img {
  width: 100px;
}

.simplifyingContent {
  width: 70%;
}

.simplifyingContent h1 {
  color: #132f46;
  font-weight: 500;
}

.simplifyingContent p {
  padding-top: 30px;
  font-size: 25px;
  line-height: 35px;
  color: #132f46;
}

.fourCardParent {
  width: 100%;
  padding: 50px 0px;
}

.fourCard {
  width: 1440px;
  margin: auto;
  text-align: center;
}

.fourCardHeading {
  color: #132f46;
  text-align: center;
}

.fourCardHeading h1 {
  font-size: 70px;
}

.fourCardHeading p {
  margin-top: 20px;
  font-size: 24px;
  letter-spacing: 1px;
}

.fourCardImgParent {
  background-image: url("../assets/Asset.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top left;
  margin: 170px 0px 100px 0px;
}

.fourCardMain {
  width: 330px;
  border-radius: 0px 0px 50px 50px;
  padding: 0px 10px 40px 10px;
  background-color: white;
}

.pointerImageSection {
  position: relative;
  top: -100px;
  margin-bottom: -50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.fourCardImg img {
  width: 220px;
}

.pointerImageSection p {
  position: absolute;
  z-index: 2;
  top: 36px;
  font-size: 120px;
  font-weight: 1000;
}

.fourCardImg {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

.fourCardMain h3 {
  margin-bottom: 25px;
  font-size: 28px;
  text-align: left;
  margin-left: 25px;
  font-weight: 600;
  color: #132f46;
}

.fourCardMain ul {
  width: 250px;
  margin: auto;
  text-align: left;
}

.fourCardMain ul li {
  margin-bottom: 20px;
}

.goldenCard {
  box-shadow: rgb(248, 240, 224, 0.5) 0px 2px 1px,
    rgba(248, 240, 224, 0.5) 0px 4px 2px, rgba(248, 240, 224, 0.5) 0px 8px 4px,
    rgba(248, 240, 224, 0.5) 0px 16px 8px,
    rgba(248, 240, 224, 0.5) 0px 32px 16px;
}

.goldenCard p {
  color: #e0b969;
}

.blueCard {
  box-shadow: rgb(207, 212, 217, 0.5) 0px 2px 1px,
    rgba(207, 212, 217, 0.5) 0px 4px 2px, rgba(207, 212, 217, 0.5) 0px 8px 4px,
    rgba(207, 212, 217, 0.5) 0px 16px 8px,
    rgba(207, 212, 217, 0.5) 0px 32px 16px;
}

.blueCard p {
  color: #184d79;
}

.runwayParent {
  width: 1440px;
  margin: auto;
}

.runwayParent img:nth-child(1) {
  width: 100%;
}

.plane {
  width: 150px;
  background-size: cover;
}

.expertiseParent {
  background-image: url("../assets/pillars-bg.png");
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 0px;
}

.expertiseContentParent {
  width: 1440px;
  margin: auto;
  align-items: center;
  text-align: center;
}

.expertiseContentHeading h1 {
  font-size: 60px;
  color: #e0b969;
  padding-bottom: 50px;
}

.expertiseContentHeading p {
  font-size: 26px;
  color: #ffffff;
  line-height: 40px;
  padding-bottom: 30px;
  font-weight: 300;
}

.expertiseContentHeading button {
  cursor: pointer;
}

.knowButton {
  color: white;
  cursor: pointer;
  border: 2px solid white;
  padding: 20px 45px;
  background-color: transparent;
  font-size: 18px;
  border-radius: 30px;
  margin-top: 20px;
  cursor: pointer;
}

.knowButton a {
  text-decoration: none;
  color: white;
}

.aspectsParent {
  background-image: url("../assets/contactMap.png");
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 0px;
}

.aspectsMain {
  width: 1440px;
  margin: auto;
  text-align: center;
  align-items: center;
}

.aspectsHeading h1 {
  color: #132f46;
  font-size: 65px;
}

.aspectsHeading h2 {
  color: #132f46;
  font-size: 35px;
  font-weight: 400;
  padding-top: 50px;
  padding-bottom: 50px;
}

.aspectsCardParent {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-around;
}

.aspectsCard {
  color: white;
  background-color: #033b5d;
  padding: 60px 30px;
  height: 360px;
  width: 288px;
  border-radius: 20px;
}

.aspectsCard img {
  height: 100px;
  width: 100px;
}

.aspectsCard h1 {
  font-size: 50px;
  padding-top: 20px;
}

.aspectsCard p {
  font-size: 30px;
  font-weight: 300;
  padding-top: 15px;
  padding-top: 10px;
}

/* // */

.sourceParent {
  background-image: url("../assets//blue-background.png");
  width: 100%;
  height: auto;
  margin: auto;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 0px;
}

.sourceMain {
  width: 1440px;
  margin: auto;
  align-items: center;
}

.sourceHeadingParent {
  display: flex;
  justify-content: space-between;
}

.sourceHeadingParent img {
  width: 330px;
}

.sourceHeadingParent h1 {
  color: white;
  font-size: 65px;
}

.sourceHeadingParent p {
  color: white;
  font-size: 22px;
  padding-top: 13px;
  font-weight: 300;
  letter-spacing: 1.5px;
}

.sourceContent {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  margin-top: 80px;
}

.sourceContentDate {
  width: 10%;
}

.sourceContentData {
  color: white;
  width: 75%;
}

.sourceContentData button {
  cursor: pointer;
}

.sourceContentData h3 {
  font-size: 26px;
}

.sourceContentData p {
  font-size: 18px;
  line-height: 35px;
  margin-top: 30px;
}

.sourceContentDate p {
  color: white;
  padding-bottom: 20px;
  font-weight: 600;
}

.sourceContentDate h2 {
  color: #e0b969;
  font-size: 33px;
}

.sourceContentDate h1 {
  color: #e0b969;
  padding-bottom: 20px;
  font-size: 100px;
}

.sourceContentData button {
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 30px;
  padding: 15px 40px;
  font-size: 16px;
  color: white;
}

/* Example CSS */
.cardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 50px;
  margin-bottom: 20px;
}

.card {
  position: relative;
  width: 190px;
  height: 150px;
  margin: 5px;
  padding: 5px;
  background-color: transparent;
  border-radius: 2px;
  overflow: hidden;
  text-align: center;
  transition: transform 0.3s ease, background-color 0.3s ease;
  border-right: 1px solid #00273f;
}

.card:last-child {
  border-right: none;
}

.card img {
  width: 40%;
  height: auto;
  transition: opacity 0.3s ease;
}

.card .title h2 {
  color: #132f46;
  transition: color 0.3s ease;
}

.card:hover {
  transform: scale(1.1);
  background-color: #132f46;
}

.card:hover img {
  /* opacity: 0.1; */
  filter: invert(1);
}

.card:hover .title h2 {
  color: #fff;
  z-index: 1;
  position: relative;
}

/* // */

.testimonialsVideoSection {
  margin: 100px 0px;
}

.testimonialsVideoSection img {
  width: 475px;
  height: 575px;
  background-color: white;
}

.testimonialsVideoSection p {
  text-align: center;
  color: white;
  font-size: 25px;
  width: 80%;
  margin: auto;
  margin-top: 20px;
  font-weight: 200;
}

.title h2{
  margin-top: 20px;
}



@media all and (max-width: 1450px) {
  .aspectsCardParent {
    width: 1340px;
    margin: auto;
  }
  .aspectsMain {
    width: 1340px;
  }

  .bannerMain {
    width: 1400px;
    margin: auto;
    align-items: center;
  }

  .cardContainer {
    width: 1260px;
    /* justify-content: space-evenly; */
    align-items: center;
    margin: auto;
    margin-top: 40px;
  }

  .card {
    width: 160px;
    margin: auto;
  }

  .sourceMain {
    width: 1260px;
  }
  .sourceHeadingParentFirstDiv {
    margin-right: 50px;
  }
  .sourceContent {
    justify-content: space-around;
  }
  .expertiseContentParent {
    width: 1260px;
  }
}

@media all and (max-width: 1420px) {
  .memberMain {
    width: 1220px;
  }

  .simplifyingMain {
    width: 1320px;
  }
}

@media all and (max-width: 1400px) {
  .aspectsCardParent {
    width: 1200px;
    margin: auto;
  }
  .aspectsMain {
    width: 1200px;
  }
  .aspectsHeading h2 {
    font-size: 30px;
  }

  .card {
    width: 320px;
    margin: auto;
    height: auto;
    border: none;
    padding: 50px 20px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: white;
  }

  .bannerMain {
    width: 1300px;
    margin: auto;
    align-items: center;
  }

  .cardContainer {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    row-gap: 20px;
    box-shadow: none;
    flex-wrap: wrap;
    background-color: transparent;
  }
  .bannerParent2ButtonDiv {
    width: 90%;
    bottom: 6%;
    left: 8%;
  }

  .bannerParent2ButtonDiv button img {
    width: 105px;
  }
}

@media all and (max-width: 1320px) {
  .expertiseContentParent {
    width: 1150px;
  }
  .expertiseContentHeading h1 {
    font-size: 40px;
  }
  .expertiseContentHeading p {
    font-size: 18px;
  }

  .simplifyingMain {
    width: 1220px;
  }
  .memberCardImg {
    height: 150px;
    width: 250px;
  }
  .memberCardParent {
    gap: 80px;
  }
  .memberMain {
    width: 1020px;
  }

  .memberCardImg img {
    width: 200px;
  }
}

@media all and (max-width: 1300px) {
  .simplifyingMain {
    width: 1100px;
    padding: 40px 0px;
  }

  .simplifyingMain p {
    font-size: 20px;
  }

  .simplifyingContent {
    width: 77%;
  }

  .card {
    width: 320px;
    padding: 50px 20px;
  }

  .bannerMain {
    width: 1300px;
  }

  .cardContainer {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    row-gap: 20px;
    box-shadow: none;
    flex-wrap: wrap;
    background-color: transparent;
  }
}

@media all and (max-width: 1280px) {
  .memberParent {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .sourceMain {
    width: 1150px;
  }
  .sourceContent {
    justify-content: space-around;
  }

  .card {
    width: 280px;
    padding: 50px 20px;
  }

  .bannerMain {
    width: 1100px;
    align-items: center;
    margin: auto;
  }

  .cardContainer {
    width: 1100px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    row-gap: 25px;
    box-shadow: none;
    flex-wrap: wrap;
    background-color: transparent;
  }
}

@media all and (max-width: 1245px) {
  .aspectsCardParent {
    width: 1100px;
    margin: auto;
  }
  .aspectsMain {
    width: 1100px;
  }
  .aspectsHeading h2 {
    font-size: 26px;
  }
}

@media all and (max-width: 1100px) {
  .bannerParent2ButtonDiv {
    width: 90%;
    bottom: 3%;
    left: 8%;
  }

  .bannerParent2ButtonDiv button img {
    width: 85px;
  }

  .bannerParent2HaveQuestions button {
    /* width: 100%; */
    font-size: 15px;
  }
}

@media all and (max-width: 1150px) {
  .expertiseContentParent {
    width: 1020px;
  }
  .expertiseContentHeading h1 {
    font-size: 40px;
  }
  .expertiseContentHeading p {
    font-size: 18px;
  }

  .sourceMain {
    width: 1020px;
  }

  .aspectsCard {
    height: 350px;
    width: 278px;
  }
  .aspectsCardParent {
    width: 1000px;
    margin: auto;
  }
  .aspectsMain {
    width: 1000px;
  }
  .aspectsHeading h2 {
    font-size: 22px;
  }
  .aspectsHeading h1 {
    font-size: 55px;
  }
  .simplifyingMain {
    width: 920px;
    padding: 0px;
  }
  .simplifyingContent {
    width: 60%;
  }
  .simplifyingImg {
    width: 0%;
  }

  .simplifyingMain p {
    font-size: 16px;
  }

  .simplifyingMain h1 {
    font-size: 25px;
  }

  .card {
    width: 260px;
    padding: 45px 20px;
  }

  .bannerMain {
    width: 1000px;
    align-items: center;
    margin: auto;
  }

  .cardContainer {
    width: 1000px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    row-gap: 25px;
    box-shadow: none;
    flex-wrap: wrap;
    background-color: transparent;
  }
}

@media all and (max-width: 1020px) {
  .expertiseContentParent {
    width: 890px;
  }
  .expertiseContentHeading h1 {
    font-size: 40px;
  }
  .expertiseContentHeading p {
    font-size: 17px;
  }

  .sourceMain {
    width: 960px;
  }

  .aspectsCard {
    height: 340px;
    width: 268px;
  }
  .aspectsCardParent {
    width: 900px;
    margin: auto;
  }
  .aspectsMain {
    width: 900px;
  }
  .aspectsHeading h2 {
    font-size: 20px;
  }

  .memberCardImg {
    height: 150px;
    width: 220px;
  }
  .memberCardParent {
    gap: 70px;
  }
  .memberMain {
    width: 900px;
  }

  .memberCardImg img {
    width: 180px;
  }

  .simplifyingMain {
    width: 820px;
    padding: 0px;
  }
  .simplifyingContent {
    width: 74%;
  }
  .simplifyingImg {
    width: 5%;
  }

  .simplifyingDiv {
    padding: 40px 0px;
  }

  .simplifyingMain p {
    font-size: 16px;
  }

  .simplifyingMain h1 {
    font-size: 25px;
  }

  .card {
    width: 260px;
    padding: 42px 20px;
  }

  .bannerMain {
    width: 900px;
    align-items: center;
    margin: auto;
  }

  .cardContainer {
    width: 900px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    row-gap: 25px;
    box-shadow: none;
    flex-wrap: wrap;
    background-color: transparent;
  }
}

@media all and (max-width: 960px) {
  .sourceHeadingParent img {
    margin-bottom: 20px;
    width: 250px;
  }

  .sourceContentDate h1 {
    font-size: 70px;
  }
  .sourceContentData {
    width: 100%;
  }
  .sourceContentDate {
    width: 100%;
  }
  /* .sourceContentDate h1{
    width: 60px;
  } */
  .sourceContentDate h2 {
    width: 24px;
  }

  .sourceMain {
    width: 95%;
  }
  .sourceContent {
    flex-direction: column;
  }

  .sourceHeadingParent {
    flex-direction: column;
  }

  .aspectsCardParent {
    flex-direction: column;
  }

  .aspectsHeading h2 {
    font-size: 18px;
    margin: auto;
  }

  .aspectsHeading h1 {
    font-size: 42px;
  }

  .aspectsCard {
    height: 350px;
    width: 288px;
    margin-top: 40px;
  }
  .aspectsCard p {
    font-size: 26px;
  }
  .aspectsCardParent {
    width: 95%;
    margin: auto;
  }
  .aspectsMain {
    width: 95%;
  }
  .aspectsHeading h2 {
    font-size: 20px;
  }

  /* / */

  .simplifyingMain {
    width: 95%;
  }

  .simplifyingContent {
    width: 100%;
  }
  .simplifyingImg {
    width: 100%;
  }

  .simplifyingDiv {
    flex-direction: column;
    border: none;
    gap: 30px;
    margin-top: 0px;
    margin-bottom: 10px;
  }

  .simplifyingMain p {
    font-size: 19px;
    font-weight: 500;
  }

  .simplifyingMain h1 {
    font-size: 34px;
    font-weight: 700;
    text-align: left;
  }

  .card {
    width: 260px;
    padding: 36px 20px;
  }

  .bannerMain {
    width: 860px;
  }

  .bannerHeading h1 {
    padding-top: 0px;
    margin-top: -5px;
    font-size: 50px;
  }

  .cardContainer {
    width: 860px;
  }
  .sourceContentDate h1 {
    text-align: left;
  }
  .sourceHeadingParent h1 {
    text-align: left;
  }

  .testimonialsVideoSection img {
    width: 300px;
    height: 325px;
  }
  
  .testimonialsVideoSection p {
    font-size: 22px;
  }
}
@media all and (max-width: 900px) {
  .expertiseContentParent {
    width: 95%;
  }
  .expertiseContentHeading h1 {
    font-size: 40px;
  }
  .expertiseContentHeading p {
    font-size: 17px;
  }

  .memberCard p {
    font-size: 21px;
  }
  .memberCardImg {
    height: 110px;
    width: 220px;
  }
  .memberCardParent {
    gap: 60px;
  }
  .memberCard {
    text-align: left;
    align-items: flex-start;
  }
  .memberMain {
    width: 95%;
  }
  .memberCardImg img {
    width: 170px;
  }

  .card {
    width: 220px;
    padding: 36px 10px;
    margin: 0px;
  }

  .bannerMain {
    width: 800px;
  }

  .bookButton17 {
    padding: 19px 40px;
  }

  .cardContainer {
    width: 95%;
  }
}

@media all and (max-width: 830px) {
  .memberCardImg {
    height: 100px;
    width: 200px;
  }
  .memberCardParent {
    gap: 50px;
  }

  .memberCardImg img {
    width: 170px;
  }
}

@media all and (max-width: 790px) {
  .knowButton {
    padding: 15px 25px;
    font-size: 15px;
  }
  .card {
    width: 200px;
    padding: 40px 10px;
    margin: 0px;
    height: 165px;
  }

  .bannerHeading h1 {
    padding-top: 0px;
    margin-top: -3px;
    font-size: 44px;
  }

  .card img {
    width: 30%;
  }
  .title {
    font-size: 10px;
    width: 50%;
  }

  .bannerMain {
    width: 700px;
  }

  .cardContainer {
    width: 95%;
  }

  .bookButton17 {
    padding: 19px 35px;
    font-size: 13px;
  }
}

@media all and (max-width: 730px) {
  .memberCard p {
    font-size: 16px;
    padding-bottom: 30px;
  }
  .memberCardImg {
    height: 90px;
    width: 180px;
  }
  .memberCardParent {
    gap: 50px;
  }

  .memberCardImg img {
    width: 160px;
  }

  .simplifyingMain p {
    font-size: 19px;
  }

  .simplifyingMain h1 {
    font-size: 30px;
  }

  .simplifyingImg img {
    width: 90px;
  }

  .card {
    width: 150px;
    padding: 40px 10px;
    margin: 0px;
    height: 140px;
  }

  /* .card img {
    width: 30%;
  }
  .title {
    font-size: 10px;
    width: 50%;
  } */

  .bannerMain {
    width: 580px;
  }

  .cardContainer {
    width: 95%;
  }
  .bannerParent2ButtonDiv {
    width: 90%;
    bottom: 3%;
    left: 8%;
  }

  .bannerParent2ButtonDiv button img {
    width: 75px;
  }

  .bannerParent2HaveQuestions button {
    /* width: 100%; */
    font-size: 12px;
  }

  .bannerParent2HaveQuestions button p {
    font-size: 8px;
  }

  .bannerParent2 button {
    padding: 5px 20px;
  }
}

@media all and (max-width: 690px) {
  .sourceContentDate h2 {
    font-size: 20px;
  }

  .sourceContentDate h1 {
    padding-bottom: 0px;
  }

  .sourceContentData h3 {
    font-size: 24px;
  }
  .memberCardImg {
    height: 90px;
    width: 160px;
  }

  .memberCardParent {
    gap: 30px;
  }

  .memberCardImg img {
    width: 150px;
  }
}

@media all and (max-width: 580px) {
  .expertiseContentHeading h1 {
    font-size: 38px;
    padding-bottom: 20px;
  }
  .expertiseContentHeading p {
    line-height: 30px;
  }

  .sourceHeadingParent h1 {
    font-size: 40px;
  }
  .sourceHeadingParent p {
    font-size: 18px;
  }

  .memberCardImg {
    height: 65px;
    width: 140px;
  }

  .memberCardParent {
    gap: 25px;
  }

  .memberCardImg img {
    width: 110px;
  }

  .simplifyingMain h1 {
    font-size: 27px;
  }

  .card {
    width: 140px;
    padding: 40px 10px;
    margin: 0px;
    height: 120px;
    text-align: center;
    align-items: center;
    text-align: center;
  }

  .bannerHeading h1 {
    padding-top: 0px;
    margin-top: -3px;
    font-size: 35px;
  }

  .bannerHeading h2 {
    font-size: 14px;
    padding-top: 20px;
  }

  /* .card img {
    width: 30%;
  } */
  .title {
    font-size: 9px;
    width: 60%;
  }

  .bannerMain {
    width: 500px;
    margin: auto;
    align-items: center;
    text-align: center;
  }

  .cardContainer {
    width: 95%;
  }

  .bookButton17 {
    padding: 16px 30px;
    font-size: 12px;
  }

  
  .testimonialsVideoSection img {
    width: 250px;
    height: 275px;
  }
  
  .testimonialsVideoSection p {
    font-size: 20px;
  }

}

@media all and (max-width: 550px) {
  .bannerParent2ButtonDiv {
    width: 90%;
    bottom: 2%;
    left: 8%;
  }

  .bannerParent2ButtonDiv button img {
    width: 55px;
  }

  .bannerParent2HaveQuestions button {
    /* width: 100%; */
    font-size: 10px;
  }

  .bannerParent2HaveQuestions button p {
    font-size: 6px;
  }

  .bannerParent2 button {
    padding: 5px 20px;
  }
}

@media all and (max-width: 501px) {
  .memberParent {
    padding-top: 25px;
    padding-bottom: 25px;
  }
  .expertiseContentHeading p {
    padding-bottom: 10px;
  }

  .expertiseContentHeading h1 {
    font-size: 30px;
  }
  .expertiseContentHeading p {
    font-size: 15px;
  }
  .sourceHeadingParent h1 {
    font-size: 38px;
  }
  .sourceHeadingParent p {
    font-size: 14px;
  }

  .aspectsHeading h2 {
    font-size: 18px;
    margin: auto;
  }

  .aspectsHeading h1 {
    font-size: 38px;
  }

  .aspectsCard {
    height: 295px;
    width: 225px;
    margin: auto;
    margin-top: 40px;
  }

  .aspectsCard h1 {
    font-size: 40px;
  }

  .aspectsCard p {
    font-size: 18px;
    /* padding-bottom: 5px; */
  }

  .memberCard p {
    font-size: 12px;
    padding-bottom: 25px;
  }

  .memberCardImg {
    height: 60px;
    width: 115px;
  }

  .memberCardParent {
    gap: 20px;
  }

  .memberCardImg img {
    width: 95px;
  }

  .simplifyingMain h1 {
    font-size: 27px;
  }

  .simplifyingMain h1 {
    font-size: 24px;
  }

  .simplifyingMain p {
    font-size: 17px;
  }

  .card {
    width: 113px;
    padding: 40px 10px;
    margin: 0px;
    height: 100px;
    text-align: center;
    align-items: center;
    text-align: center;
  }

  .bannerHeading h1 {
    font-size: 30px;
  }

  .bannerHeading h2 {
    font-size: 12px;
    padding-top: 15px;
  }

  .card img {
    width: 35%;
  }
  .title {
    font-size: 8px;
    width: 75%;
  }

  .bannerMain {
    width: 400px;
    margin: auto;
    align-items: center;
    text-align: center;
  }

  .cardContainer {
    width: 95%;
  }
  .bookButton17 {
    padding: 15px 30px;
    font-size: 12px;
    border-radius: 26px;
  }
}

@media all and (max-width: 415px) {
  .knowButton {
    padding: 10px 20px;
    font-size: 12px;
  }

  .sourceContentData h3 {
    font-size: 20px;
  }
  .sourceContentData p {
    font-size: 16px;
  }
  .sourceContentData button {
    padding: 15px 25px;
    font-size: 14px;
  }

  .aspectsHeading h2 {
    font-size: 17px;
    width: 350px;
    margin: auto;
    line-height: 28px;
  }

  .aspectsHeading h1 {
    font-size: 38px;
  }

  .aspectsCard {
    height: 280px;
    width: 215px;
    margin: auto;
    margin-top: 40px;
  }

  .aspectsCard h1 {
    font-size: 40px;
  }

  .aspectsCard p {
    font-size: 16px;
    /* padding-bottom: 5px; */
  }
  .aspectsCard img {
    margin-top: -25px;
  }

  .memberCard p {
    font-size: 10px;
    padding-bottom: 20px;
  }

  .memberCardImg {
    height: 60px;
    width: 100px;
  }

  .memberCardParent {
    gap: 18px;
  }

  .memberCardImg img {
    width: 80px;
  }

  .simplifyingMain h1 {
    font-size: 19px;
  }

  .simplifyingMain p {
    font-size: 15px;
    line-height: 26px;
  }

  .simplifyingImg img {
    width: 80px;
  }

  .card {
    width: 100px;
    padding: 40px 10px;
    margin: 0px;
    height: 100px;
    align-items: center;
    text-align: center;
  }

  .card img {
    width: 38%;
    align-items: center;
    text-align: center;
  }
  .title {
    font-size: 7px;
    width: 77%;
    align-items: center;
    text-align: center;
  }

  .bannerMain {
    width: 370px;
    margin: auto;
    align-items: center;
    text-align: center;
  }

  .cardContainer {
    width: 95%;
    align-items: center;
    text-align: center;
  }

  .bannerHeading h1 {
    font-size: 28px;
  }

  .bannerHeading h2 {
    font-size: 10px;
    padding-top: 10px;
  }

  .bookButton17 {
    padding: 11px 26px;
    font-size: 11px;
    border-radius: 25px;
  }
  .testimonialsVideoSection img {
    width: 200px;
    height: 245px;
  }
  .bannerParent2ButtonDiv {
    width: 90%;
    bottom: 2%;
    left: 8%;
  }

  .bannerParent2ButtonDiv button img {
    width: 55px;
  }

  .bannerParent2HaveQuestions button {
    /* width: 100%; */
    font-size: 10px;
  }

  .bannerParent2HaveQuestions button p {
    font-size: 6px;
  }

  .bannerParent2 button {
    padding: 5px 20px;
  }
}

@media all and (max-width: 365px) {
  .memberParent {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .memberCard p {
    font-size: 10px;
    padding-bottom: 20px;
  }

  .memberCardImg {
    height: 55px;
    width: 90px;
  }

  .memberCardParent {
    gap: 15px;
  }

  .memberCardImg img {
    width: 80px;
  }

  .simplifyingImg img {
    width: 70px;
  }

  .card {
    width: 90px;
    padding: 40px 10px;
    margin: 0px;
    height: 90px;
    text-align: center;
    align-items: center;
    text-align: center;
  }

  .card img {
    width: 44%;
  }
  .title {
    font-size: 6px;
    width: 90%;
  }

  .bannerMain {
    width: 338px;
    margin: auto;
    align-items: center;
    text-align: center;
  }

  .cardContainer {
    width: 95%;
  }

  .bannerHeading h1 {
    font-size: 26px;
  }

  .bannerHeading h2 {
    font-size: 10px;
    padding-top: 14px;
  }
  .bookButton17 {
    padding: 11px 24px;
    font-size: 10px;
    border-radius: 24px;
  }
}

@media all and (max-width: 335px) {
  .sourceHeadingParent h1 {
    font-size: 34px;
  }
  .card {
    width: 110px;
    padding: 40px 10px;
    margin: 0px;
    height: 110px;
    text-align: center;
    align-items: center;
    text-align: center;
  }

  .card img {
    width: 48%;
  }
  .title {
    font-size: 7px;
    width: 65%;
  }

  .bannerMain {
    width: 315px;
    margin: auto;
    align-items: center;
    text-align: center;
  }

  .cardContainer {
    width: 95%;
  }
}

@media all and (max-width: 320px) {
  .card {
    width: 90px;
    padding: 40px 10px;
    margin: 0px;
    height: 90px;
    text-align: center;
    align-items: center;
    text-align: center;
  }

  .card img {
    width: 48%;
  }
  .title {
    font-size: 7px;
    width: 65%;
  }

  .bannerMain {
    width: 280px;
    margin: auto;
    align-items: center;
    text-align: center;
  }

  .cardContainer {
    width: 95%;
  }
}


