.recentBlogs {
    width: 100%;
    padding: 100px 0px;
    background-color: rgb(233, 233, 233);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .recentBlogMainSection {
    width: 1440px;
  }
  
  .recentBlogMainSection h1 {
    color: rgb(126, 126, 126);
    padding-bottom: 15px;
    border-bottom: 3px solid rgb(156, 156, 156);
  }
  
  .blogsGridSection {
    margin-top: 50px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
  
  .blogs {
    width: 32%;
  }
  
  .blogs:hover {
    text-decoration: none;
  }
  
  .blogs img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
  }
  
  .blogs h4 {
    margin: 10px 0px;
    color: #132f46;
  }
  
  .blogs h2 {
    font-size: 20px;
    margin: 10px 0px;
    line-height: 1.5;
  }
  
  .blogs p {
    color: gray;
    font-weight: 600;
  }