.bannerParent {
  background-image: url("../assets//transport.png");
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 0px;
  padding-top: 230px;
}

.banner {
  width: 1440px;
  margin: auto;
  text-align: center;
}

.bannerHeading h1 {
  color: #e8c47c;
  font-size: 50px;
}

.bannerHeading h3 {
  color: #ffffff;
  font-size: 20px;
  font-weight: 500;
  padding-top: 30px;
}

.bannerHeading p {
  color: #ffffff;
  width: 74%;
  margin: auto;
  font-size: 25px;
  line-height: 1.8;
  padding-top: 60px;
}

.bannerHeadingRotateParent {
  width: 700px;
  margin: auto;
  display: flex;
  text-align: center;
  justify-content: center;
  /* gap: 10px; */
  align-items: center;
  color: white;
  margin-top: 150px;
}

.bannerHeadingRotate {
  transform: rotate(-90deg);
  border-bottom: 1px solid white;
  padding-bottom: 20px;
  font-size: 30px;
}

.bannerHeadingRotatePara p {
  text-align: left;
  padding-bottom: 24px;
  font-size: 30px;
}

.bannerHeadingRotatePara {
  margin-left: -50px;
}

.eligibleParent {
  padding: 100px 0px;
  width: 1440px;
  margin: auto;
}

.eligibleMain h1 {
  font-size: 64px;
  color: #132f46;
}

.eligibleMain h3 {
  font-size: 27px;
  color: #132f46;
  margin-top: 40px;
}

/* // */

.stepsGrid {
  margin: auto;
  gap: 20px;
  padding: 20px;
}

.step {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px;
  color: #132f46;
}

.stepNumber {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: #00273f;
  color: #ffffff;
  font-size: 20px;
  font-weight: bold;
  border-radius: 50%;
  margin-bottom: 10px;
}

.stepContent {
  flex-grow: 1;
}

.stepContent p {
  margin: 0;
  font-size: 30px;
  line-height: 35px;
}

.stepContent h2 {
  font-size: 30px;
  padding-bottom: 30px;
}

.stepContent h3 {
  font-size: 30px;
  padding-top: 80px;
  font-weight: 600;
}

.stepContentList {
  width: 1440px;
  margin: auto;
  margin-top: 40px;
}

.stepContentList li {
  font-size: 28px;
  padding-top: 34px;
  line-height: 44px;
}

/* CSS */
.button17 {
  margin-top: 10px;
  align-items: center;
  appearance: none;
  background-color: #fff;
  border-radius: 28px;
  border-style: none;
  border: 2px solid #00273f;
  box-sizing: border-box;
  color: #3c4043;
  cursor: pointer;
  display: inline-flex;
  fill: currentcolor;
  font-family: "Google Sans", Roboto, Arial, sans-serif;
  font-size: 16px;
  font-weight: 500;
  /* height: 48px; */
  justify-content: center;
  letter-spacing: 0.25px;
  line-height: normal;
  max-width: 100%;
  overflow: visible;
  padding: 16px 60px;
  position: relative;
  text-align: center;
  text-transform: none;
  transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 15ms linear 30ms, transform 270ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
  will-change: transform, opacity;
  z-index: 0;
}

.button17:hover {
  background: #f6f9fe;
  color: #174ea6;
}

.button17:active {
  box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%),
    0 8px 12px 6px rgb(60 64 67 / 15%);
  outline: none;
}

.button17:focus {
  outline: none;
  border: 2px solid #4285f4;
}


.agricultureParent{
    padding: 100px 0px;
    background-color: #132f46;
    width: 100%;
  }

  .agricultureMain{
    width: 1440px;
    margin: auto;
  }

  .agricultureMain h1{
    color:#e8c57e;
    font-size: 40px;
  }

  .agricultureMain h2{
    color:#fbfbfb;
    font-size: 26px;
    padding-top: 60px;
    font-weight: 600;
  }


.agricultureList{
  width: 1440px;
  margin: auto;
  font-size: 28px;
  color: white;
  padding-top: 80px;
}

.agricultureList li{
  padding-bottom: 40px;
}

.theButtonAncorParentTwo{
    padding: 100px 0px;
  }
  
  .theButtonAncorTwo{
    padding-left: 10px;
  
  }
  
  .theButtonSpanTwo img{
    width: 1.7%;
    margin-left: 20px;
  }
  
  .theButtonAncorTwo{
    width: 1440px;
    margin: auto;
  
  }
  
  .theButtonAncorTwo a{
    background-color: #132f46;
    color: #fcfeff;
    padding: 15px 20px;
    border-radius: 10px;
    text-decoration: none;
    font-size: 30px;
  }
  


  .contactUpperParent{
    width: 1440px;
    margin: auto;
  }
  
  .contactUpperMain P{
    color: #00273f;
    font-size: 30px;
    line-height: 50px;
  }
  
  .contactParent{
    width: 1440px;
    margin: auto;
    align-items: center;
    padding: 100px 0px;
  }
  
  .contactMain h1{
    color: #00273f;
    font-size: 60px;
  }
  
  .contactMain p{
    color: #00273f;
    font-size: 25px;
    padding-top: 40px;
    line-height: 50px;
  }
  

  .bookButton17 {
    margin-top: 40px;
    align-items: center;
    appearance: none;
    background-color: #fff;
    border-radius: 28px;
    border-style: none;
    border: 2px solid #00273f;
    box-sizing: border-box;
    color: #3c4043;
    cursor: pointer;
    display: inline-flex;
    fill: currentcolor;
    font-family: "Google Sans", Roboto, Arial, sans-serif;
    font-size: 16px;
    font-weight: 500;
    justify-content: center;
    letter-spacing: 0.25px;
    line-height: normal;
    max-width: 100%;
    overflow: visible;
    padding: 18px 66px;
    position: relative;
    text-align: center;
    text-transform: none;
    transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1),
      opacity 15ms linear 30ms, transform 270ms cubic-bezier(0, 0, 0.2, 1) 0ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: auto;
    will-change: transform, opacity;
    z-index: 0;
  }
  
  .bookButton17:hover {
    background: #f6f9fe;
    color: #174ea6;
  }
  
  .bookButton17:active {
    box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%),
      0 8px 12px 6px rgb(60 64 67 / 15%);
    outline: none;
  }
  
  .bookButton17:focus {
    outline: none;
    border: 2px solid #4285f4;
  }
  