*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body{
  overflow-x: hidden;
}

body::-webkit-scrollbar{
  display: none;
}

img{
  background-size: cover;
  object-fit: cover;
}

@font-face {
  font-family: 'YourCustomFont';
  src: url('./assets/fonts/Madera-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.swiper-slide {
  flex-shrink: 1 !important;
}

.swiper_pagination {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.swiper-pagination-bullet {
  width: 12px !important;
  height: 12px !important;
  opacity: 0.5 !important;
}

.swiper-pagination-bullet-active {
  opacity: 1 !important;
  background: white !important;
}

.swiper-3d .swiper-slide-shadow-left {
  background-image: none !important;
}

.swiper-3d .swiper-slide-shadow-right {
  background-image: none !important;
}